flows (3).json
[{"id":"d8b2265f.83a578","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3fe8953d.fb371a","type":"ibmiot in","z":"d8b2265f.83a578","authentication":"apiKey","apiKey":"d3e3e447.585448","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"12345","applicationId":"","deviceType":"Esp32","eventType":"+","commandType":"home","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":110,"y":160,"wires":[["cc25a7a6.93ca68","d9908b96.fde0e8","81e4cc79.3fdf","bbedca37.4e7d18","1be05085.8a565f"]]},{"id":"cc25a7a6.93ca68","type":"function","z":"d8b2265f.83a578","name":"temperature","func":"global.set('t',msg.payload.d.temperature)\nmsg.payload = msg.payload.d.temperature\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":140,"wires":[["3b2df23b.6cf04e"]]},{"id":"81e4cc79.3fdf","type":"function","z":"d8b2265f.83a578","name":"humidity","func":"global.set('h',msg.payload.d.humidity)\nmsg.payload = msg.payload.d.humidity\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":260,"wires":[["83b515d4.6ee1d8"]]},{"id":"3b2df23b.6cf04e","type":"ui_chart","z":"d8b2265f.83a578","name":"","group":"7846b906.7c3458","order":1,"width":0,"height":0,"label":" temperature","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"13","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":630,"y":220,"wires":[[]]},{"id":"83b515d4.6ee1d8","type":"ui_gauge","z":"d8b2265f.83a578","name":"humidity","group":"7846b906.7c3458","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":620,"y":340,"wires":[]},{"id":"f5fcf6ba.b3a428","type":"http in","z":"d8b2265f.83a578","name":"","url":"/data1","method":"get","upload":false,"swaggerDoc":"","x":140,"y":420,"wires":[["1a7bfd7e.1a1c53"]]},{"id":"81b1a294.4592e","type":"http response","z":"d8b2265f.83a578","name":"","statusCode":"","headers":{},"x":650,"y":420,"wires":[]},{"id":"1a7bfd7e.1a1c53","type":"function","z":"d8b2265f.83a578","name":"gcet","func":"msg.payload ={\n  \"temperature\" :global.get('t'),\n  \"humidity\" : global.get('h'),\n  \"ultrasonic\":global.get('d'),\n  \"flame\":global.get('f'),\n  \"ammonia\":global.get('a')\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":420,"wires":[["81b1a294.4592e"]]},{"id":"4cf97a9a.ac5824","type":"http in","z":"d8b2265f.83a578","name":"","url":"/command","method":"get","upload":false,"swaggerDoc":"","x":200,"y":760,"wires":[["3f9b4555.c5540a"]]},{"id":"e87d79de.4bb3b8","type":"http response","z":"d8b2265f.83a578","name":"","statusCode":"","headers":{},"x":630,"y":760,"wires":[]},{"id":"3f9b4555.c5540a","type":"function","z":"d8b2265f.83a578","name":"","func":"msg.payload=msg.payload.command\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":760,"wires":[["e87d79de.4bb3b8","a660529c.76fd","2060c0b9.ce3b9"]]},{"id":"d9908b96.fde0e8","type":"function","z":"d8b2265f.83a578","name":"ultrasonic","func":"global.set('d',msg.payload.d.distance)\nmsg.payload = msg.payload.d.distance\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":200,"wires":[["fbf6b67a.966d98","397ad51.3c1e92a"]]},{"id":"fbf6b67a.966d98","type":"ui_chart","z":"d8b2265f.83a578","name":"","group":"7846b906.7c3458","order":3,"width":0,"height":0,"label":"ultrasonic sensor","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":650,"y":300,"wires":[[]]},{"id":"91f3cfcf.a6ac8","type":"function","z":"d8b2265f.83a578","name":"ammonia","func":"global.set('a',msg.payload.NH3)\nmsg.payload = msg.payload.NH3\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":20,"wires":[["4694a142.e0cd3"]]},{"id":"75bcce4.3faff3","type":"function","z":"d8b2265f.83a578","name":"flame","func":"global.set('f',msg.payload.flame)\nmsg.payload = msg.payload.flame\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":80,"wires":[["10dcaaf7.a6bf65","4b683835.8f5a28"]]},{"id":"4694a142.e0cd3","type":"ui_gauge","z":"d8b2265f.83a578","name":"ammonia","group":"5d94f528.9f196c","order":1,"width":0,"height":0,"gtype":"gage","title":"Ammonia","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":640,"y":40,"wires":[]},{"id":"2060c0b9.ce3b9","type":"ibmiot out","z":"d8b2265f.83a578","authentication":"apiKey","apiKey":"d3e3e447.585448","outputType":"cmd","deviceId":"12345","deviceType":"Esp32","eventCommandType":"home","format":"String","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":640,"y":680,"wires":[]},{"id":"cbea4fab.f3274","type":"ui_button","z":"d8b2265f.83a578","name":"","group":"f4e3c270.cbd9b","order":3,"width":0,"height":0,"passthru":false,"label":"Light ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"lighton","payloadType":"str","topic":"topic","topicType":"msg","x":360,"y":500,"wires":[["2060c0b9.ce3b9"]]},{"id":"b4fe09ed.048698","type":"ui_button","z":"d8b2265f.83a578","name":"","group":"f4e3c270.cbd9b","order":4,"width":0,"height":0,"passthru":false,"label":"Light OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"lightoff","payloadType":"str","topic":"topic","topicType":"msg","x":360,"y":540,"wires":[["2060c0b9.ce3b9"]]},{"id":"a660529c.76fd","type":"debug","z":"d8b2265f.83a578","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":670,"y":840,"wires":[]},{"id":"63b1917f.f8cd5","type":"ui_button","z":"d8b2265f.83a578","name":"","group":"f4e3c270.cbd9b","order":1,"width":0,"height":0,"passthru":false,"label":"PUMP ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"pumpon","payloadType":"str","topic":"topic","topicType":"msg","x":370,"y":580,"wires":[["2060c0b9.ce3b9"]]},{"id":"1c9a710e.651d9f","type":"ui_button","z":"d8b2265f.83a578","name":"","group":"f4e3c270.cbd9b","order":2,"width":0,"height":0,"passthru":false,"label":"PUMP OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"pumpoff","payloadType":"str","topic":"topic","topicType":"msg","x":390,"y":620,"wires":[["2060c0b9.ce3b9"]]},{"id":"223b4aba.feef66","type":"ui_button","z":"d8b2265f.83a578","name":"","group":"f4e3c270.cbd9b","order":5,"width":0,"height":0,"passthru":false,"label":"Exhaust ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"exhauston","payloadType":"str","topic":"topic","topicType":"msg","x":390,"y":660,"wires":[["2060c0b9.ce3b9"]]},{"id":"f263eadf.233f88","type":"ui_button","z":"d8b2265f.83a578","name":"","group":"f4e3c270.cbd9b","order":6,"width":0,"height":0,"passthru":false,"label":"Exhaust OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"exhaustoff","payloadType":"str","topic":"topic","topicType":"msg","x":390,"y":700,"wires":[["2060c0b9.ce3b9"]]},{"id":"10dcaaf7.a6bf65","type":"switch","z":"d8b2265f.83a578","name":"fire","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":450,"y":60,"wires":[["2ebb4588.72c02a"]]},{"id":"bbedca37.4e7d18","type":"debug","z":"d8b2265f.83a578","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":170,"y":280,"wires":[]},{"id":"2ebb4588.72c02a","type":"http request","z":"d8b2265f.83a578","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://www.fast2sms.com/dev/bulkV2?authorization=XUCB2O3aYTW1G8NlxtQR9ozKhSyVcwM6EfnJdru754IjDP0pmFgQtSpqRxZPJiKv6k0AUHMOEaX35Fzm&route=q&message=fire%20alert&language=english&flash=0&numbers=8885434340","tls":"","persist":false,"proxy":"","authType":"","x":610,"y":80,"wires":[["bfbf6e19.a73da"]]},{"id":"8a3e7ec4.d6134","type":"ibmiot in","z":"d8b2265f.83a578","authentication":"apiKey","apiKey":"ecda3212.01a22","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"88854","applicationId":"","deviceType":"ESP32","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":110,"y":100,"wires":[["91f3cfcf.a6ac8","75bcce4.3faff3","c7a79661.ced5a8","1be05085.8a565f"]]},{"id":"c7a79661.ced5a8","type":"debug","z":"d8b2265f.83a578","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":180,"y":40,"wires":[]},{"id":"4b683835.8f5a28","type":"ui_gauge","z":"d8b2265f.83a578","name":"","group":"5d94f528.9f196c","order":3,"width":0,"height":0,"gtype":"gage","title":"Flame","label":"units","format":"{{value}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":740,"y":140,"wires":[]},{"id":"1be05085.8a565f","type":"cloudant out","z":"d8b2265f.83a578","name":"","cloudant":"","database":"animalformdata","service":"hemanth-cloudant-1621487910087-90010","payonly":false,"operation":"insert","x":450,"y":360,"wires":[]},{"id":"397ad51.3c1e92a","type":"ui_gauge","z":"d8b2265f.83a578","name":"","group":"5d94f528.9f196c","order":3,"width":0,"height":0,"gtype":"gage","title":"ultrasonic","label":"units","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":260,"wires":[]},{"id":"bfbf6e19.a73da","type":"debug","z":"d8b2265f.83a578","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":100,"wires":[]},{"id":"d3e3e447.585448","type":"ibmiot","name":"hem","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"7846b906.7c3458","type":"ui_group","name":"Group 1","tab":"aeee9b98.2ecde8","order":1,"disp":true,"width":12},{"id":"5d94f528.9f196c","type":"ui_group","name":"Group 2","tab":"aeee9b98.2ecde8","order":2,"disp":true,"width":"12","collapse":false},{"id":"f4e3c270.cbd9b","type":"ui_group","name":"Group 2","tab":"3d4bd171.cddcae","order":2,"disp":true,"width":7,"collapse":false},{"id":"ecda3212.01a22","type":"ibmiot","name":"gcet","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"aeee9b98.2ecde8","type":"ui_tab","name":"Tab 2","icon":"dashboard","order":2},{"id":"3d4bd171.cddcae","type":"ui_tab","name":"Simulator","icon":"dashboard","order":2,"disabled":false,"hidden":false}]